.givethings{
  margin-top: -103px;
}
.givethings-main {
  height: 763px;
  display: flex;
  color: $dark-grey;
}
.givethings-img {
  width: 42%;
  height: 100%;
  background-image: url('../../image/Form-Hero-Image.jpg');
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}
.givethings-content {
  width: 68%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //background-color: red;
  margin-top: 10px;
  padding: 2px;
  .givethings-title {
    font-size: 20px;
    letter-spacing: -0.75px;
    text-align: center;
    padding: 0;
    font-weight: 500;
    .givethings-a {
      margin-bottom: 15px;
    }
    .givethings-b {
      text-transform: uppercase;
    }
  }
  .givethings-deco {
    width: 180px;
    height: 40px;
    background-image: url('../../image/Decoration.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .givethings-c {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 60px;
  }
  .givethings-steps {
    width: 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .givethings-steps-main {
      width: 130px;
      height: 130px;
      text-align: center;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .givethings-steps-number {
        font-size: 30px;
        font-weight: 300;
        padding-bottom: 50px;
      }
      .givethings-steps-text {
        font-size: 20px;
        font-weight: 300;
        //padding-bottom: 80px;
      }
      .border {
        position: absolute;
        top: 15px;
        width: 135px;
        height: 135px;
        border: 1px solid $dark-grey;
        transform: rotate(45deg);
      }
    }
  }
}
.yellow-box {
  background: $yellow;
  margin-top: -36px;
  .yellow-title {
    font-size: 36px;
    font-weight: 500;
    margin-left: 145px;
    padding-top: 50px;
  }
  .yellow-info {
    font-size: 22px;
    font-weight: 300;
    margin-left: 145px;
    margin-top: 10px;
    padding-bottom: 50px;
  }
}
