.login-button3 {
  width: 120px;
  height: 50px;
  font-size: 18px;
  border: none;
  background: white;
  position: absolute;
  left: 20px;
  bottom: 0;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: black;
  margin: -80px;
  background: none;
  margin-top:50px ;
  line-height: 50px;
  &:hover {
    border: 1px solid $dark-grey;
  }
}
.login-button4 {
  width: 120px;
  height: 50px;
  color: black;
  letter-spacing: 1px;
  line-height: 50px;
  text-decoration: none;
  font-size: 18px;
  border: none;
  background: white;
  position: absolute;
  margin: -80px;
  right: 20px;
  bottom: 0;
  &:hover {
    border: 1px solid $dark-grey;
  }
}
.register {
  width: 500px;
  height: 450px;
  margin: 120px auto 0;
  margin-bottom: 200px;
  position: relative;
  .register-title {
    font-size: 36px;
    text-align: center;
  }
  .register-deco {
    width: 240px;
    height: 36px;
    background-image: url('../../image/Decoration.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin: 26px auto;
  }
  form {
    width: 400px;
    height: 230px;
    margin: 30px auto 0;
    padding-bottom: 40px;
    padding-top: 40px;
    background: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .register-form {
      width: 300px;
      input {
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $dark-grey;
        background-color: $white;
      }
    }
  }
  .register-labels {
    font-weight: 600;
    font-size: 12px;
  }
}

