.who-main {
  width: 100%;
  text-align: center;
  color: $grey;
  .who-title {
    margin-top: 60px;
    font-size: 25px;
  }
  .who-deco{
    width: 180px;
    height: 40px;
    background-image: url('../../image/Decoration.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin: 30px auto;
  }
  .who-org {
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    .who-chose {
      text-decoration: none;
      height: 70px;
      width: 210px;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        cursor: pointer;
        border: 1px solid $grey;
      }
    }
  }
  .who-text {
    width: 600px;
    margin: 40px auto;
    font-size: 20px;
    text-align: center;
  }
  .who-page {
    margin: 20px auto;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

  }
  }
.who-hr{
width: 1000px;
}
.who-btn{
  height: 40px;
  margin: 10px;
  background: none;
  font-size: 14px;
  border: 1px solid $dark-grey;
}
.who-pag{
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: auto;
  font-family: $font-alt;
}
.who-a{
font-size: 16px;
  text-align: left;
}
.who-b{
  font-size: 12px;
}
.who-h3{
  font-size: 18px;
  font-weight: 200;
}
.who-desc{
  font-size: 16px;
  font-style: italic;
}
